@import '../../scss/commons/commons.scss';
.Home {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: grid;
  overflow-y: auto;
  grid-template-columns: minmax(0, 0.5fr) minmax(0, 1fr);
  grid-template-rows:  0.1fr 2.75fr 0.75fr 1.5fr 0.5fr;
  gap: 0.7rem;
  padding: 0.5rem;
  h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .homeItemA {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
  }
  .homeItemB {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
  }
  .homeItemC {
    grid-column: 1/2;
    grid-row: 4/6;
    text-align: center;
  }
  .homeItemD {
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    background-color: #00000000;
  }
  .homeItemE {
    grid-column: 2/3;
    grid-row: 5/6;
    text-align: center;
  }
}

/* Monitores grandes */
@media (min-width: 1200px) {
  .Home {
    grid-template-columns: minmax(0, 0.5fr) minmax(0, 1fr);
    grid-template-rows:
      minmax(0, 0.1fr) minmax(0, 0.75fr) minmax(0, 1.25fr) minmax(0, 1.5fr)
      minmax(0, 0.5fr);
    h1 {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    .homeItemA {
      grid-column: 1/2;
      grid-row: 2/4;
    }
    .homeItemB {
      grid-column: 2/3;
      grid-row: 3/5;
    }
    .homeItemC {
      grid-column: 1/2;
      grid-row: 4/6;
    }
    .homeItemD {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .homeItemE {
      grid-column: 2/3;
      grid-row: 5/6;
    }
  }
}
/* Escritorios comunes y laptops grandes */
@media (min-width: 992px) and (max-width: 1199px) {
  .Home {
    grid-template-columns: minmax(0, 0.5fr) minmax(0, 1fr);
    grid-template-rows:
      minmax(0, 0.1fr) minmax(0, 0.75fr) minmax(0, 1.25fr) minmax(0, 1.5fr)
      minmax(0, 0.5fr);
    h1 {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    .homeItemA {
      grid-column: 1/2;
      grid-row: 2/4;
    }
    .homeItemB {
      grid-column: 2/3;
      grid-row: 3/5;
    }
    .homeItemC {
      grid-column: 1/2;
      grid-row: 4/6;
    }
    .homeItemD {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .homeItemE {
      grid-column: 2/3;
      grid-row: 5/6;
    }
  }
}
/* Laptops medianos y pequeños */
@media (min-width: 768px) and (max-width: 991px) {
}
/* Escritorios pequeños */
@media (max-width: 767px) {
  .Home {
    width: 100%;
    height: 100%;
    max-height: auto;
    // background-color: #d5f5e3;
    display: grid;
    overflow-y: auto;
    // grid-template-columns: minmax(0, 0.5fr) minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows:
      0.1fr 2.75fr 0.75fr 2fr
      2fr
      0.5fr;
    h1 {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .homeItemA {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    .homeItemB {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .homeItemC {
      grid-column: 1/2;
      grid-row: 5/6;
    }
    .homeItemD {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .homeItemE {
      grid-column: 1/2;
      grid-row: 6/7;
    }
  }
}
