$primary-color: #f9eb01;
$secondary-color: #050505;
/* font*/
$font-light: #fff;
$font-dark: #050505;
$font-grey: #676565;
$font-grey-soft: #aaa;
$font-primary: #f9eb01;
$font-primary-ligth: #fff009;
$font-primary-dark: #e0d300;
$font-secondary: #050505;
$font-red: #d32f2f;
$font-green: #117a65;
$font-blue: #0057a0;

/* border*/
$border-primary: #f9eb01;
$border-secondary: #050505;
$border-grey: #676565;
$border-grey-soft: #aaa;
$border-red: #d32f2f;
$border-green: #117a65;
$border-blue: #0057a0;

/* background*/
$background-primary: #f9eb01;
$background-primary-ligth: #fff009;
$background-primary-dark: #e0d300;
$background-primary-transparent: rgba(249, 235, 1, 0.6);
$background-transparent: #00000000;
$background-secondary: #050505;
$background-light: #fff;
$background-red: #d32f2f;
$background-green: #117a65;
$background-blue: #0057a0;
