$border-radius-input: 0.4rem;
$border-radius-card: 0.4rem;
$box-shadow-inner-card: 0.05rem 0.05rem 0.4rem #0005;
$box-shadow-card: 0.4rem 0.4rem 0.8rem #0005;
$font-family-app: 'lobster', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
