@import '../../scss/commons/commons.scss';
.app-name {
  width: fit-content;
  align-self: flex-end;
  h2 {
    color: $font-dark;
    top: 0;
    font-family: $font-family-app;
    // text-align: right;
  }
  p {
    margin: 0;
    padding: 0;
    font-weight: 600;
  }
}
.LoginForm {
  min-height: 90%;
  max-height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    text-align: center;
  }
  form {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .login-input-group {
      position: relative;
      width: 90%;
      min-width: 13rem;
      label {
        margin: 0.4rem auto;
        font-size: 1.1rem;
        // font-weight: 500;
      }

      input {
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: $background-light;
        color: $font-dark;
        font-size: 1.1rem;
        border: 0.15rem solid $border-grey-soft;
        border-radius: $border-radius-input;
        outline: none;
        &:focus {
          border: 0.15rem solid $border-primary;
          transform: scale(1.01);
        }
      }
      input[type='password'] {
        padding: 0.5rem 3.8rem 0.5rem 1rem;
      }
      svg {
        position: absolute;
        font-size: 2rem;
        top: 35%;
        right: 1.8%;
        // transform: translateY(-50%);
        cursor: pointer;
        user-select: none;
      }
      .error {
        color: $font-red;
        &::before {
          content: '*';
        }
      }
      &.password {
        input {
          padding: 0.5rem 3.8rem 0.5rem 1rem;
        }
      }
    }
    .error-out {
      align-self: flex-end;
      // margin: -0.5rem 0 0 2.5rem;
      color: $font-red;
      &::before {
        content: '*';
      }
    }
    .forgot-password {
      margin-right: 3.1rem;
      align-self: flex-end;
      text-align: right;
      cursor: pointer;
      color: $font-dark;
      &:hover {
        color: $font-primary-dark;
      }
    }
    .buttons {
      width: 100%;
      text-align: center;
      button {
        cursor: pointer;
        width: 20%;
        min-width: 13rem;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        border: solid 2px $border-primary;
        border-radius: 0.4rem;
        background-color: $background-primary;
        color: $font-dark;
        transition:
          transform 0.3s ease,
          background-color 0.6s ease,
          filter 0.6s ease;
        &:hover {
          transform: scale(1.01);
          filter: brightness(1.1);
        }
      }
    }
  }
}
